::-webkit-scrollbar {
  width: 0;
}

.servicios {
  height: max-content;
  background-color: rgb(222, 222, 222);
}


.servicios-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
}

.servicios-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.servicios-title h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.servicios-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  margin: 1.8rem 0;
  padding: 0 5rem;
}

.servicio-option {
  width: 100%;
  padding: .8rem 1rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  transition: .4s;
}

.servicio-option:hover {
  background-color: rgb(184, 184, 184);
  cursor: default;
}