a {
  text-decoration: none;
  color: black;
}

.nv-z {
  position: fixed;
  z-index: 80;
}

.nv-z.modal-open {
  z-index: -1;
}

.navbar {
  display: flex;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
  background-color: #050505;
  box-shadow: #d95f18 0px 2px 20px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: .2rem 0;
}

.nav-mobile {
  display: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: .6s;
}

.navbar-logo__img {
  margin: .5rem 0;
  width: 70px;
}

.navbar-logo__text {
  font-size: 2.7rem;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.navbar-logo__text>span {
  color: rgb(170, 159, 153);
}

.navbar-options {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.navbar-options__link {
  color: #e5e5e5;
  padding: 1rem;
  border-radius: 1rem;
  transition: .5s;
}

.navbar-options__link:hover {
  color: #101010;
  background-color: #e5e5e5;
}

.btn-nav {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #e7e7e7;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}

.btn-nav::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #d95f18;
  transition: .5s ease;
}

.btn-nav:hover {
  color: #ffffff;
  transition-delay: .5s;
}

.btn-nav:hover::before {
  width: 100%;
}

@media (max-width: 1050px) {
  .nav-default {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .menu-icon {
    color: #e5e5e5;
  }

  .nav-menu-option {
    position: relative;
  }

  .menu-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    width: 100%;
    height: max-content;
    padding: 20px;
    background-color: #101010f9;
    z-index: 80;
    text-align: center;
    border-radius: 0 0 2rem 2rem;

  }

  .mobile-x-btn {
    text-align: center;
    color: #e5e5e5;
    width: 100%;
    padding-bottom: 1rem;
  }

  .mobile-x-btn:hover {
    color: #d95f18;
  }

  .mobile-btn {
    text-transform: uppercase;
    font-weight: bold;
    color: #e5e5e5;
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid white;
  }

  .mobile-btn:hover {
    color: #d95f18;
  }

  .mobile-btn:last-child {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 70px;
  }

  .navbar-logo__img {
    width: 50px;
  }

  .navbar-logo__text {
    font-size: 1.5rem;
  }
}