.desc {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 60vw;
  background-color: rgba(18, 18, 18);
  z-index: 98;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 40% 100%);
}

.desc__logo {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desc__logo-img {
  height: 100px;
}