.Carousel {
  position: relative;
  height: calc(100vh - 90px);
}

@media (max-width: 768px) {
  .Carousel {
    height: calc(100vh - 70px);
  }
}

.Carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}