/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #d95f18 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #d95f18;
  border-radius: 10px;
  border: 0px solid #ffffff;
}

i {
  margin: 0;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.section-title>h1 {
  text-transform: uppercase;
}

.m-snav {
  margin-top: 90px;
}

@media (max-width: 768px) {
  .m-snav {
    margin-top: 70px;
  }
}