p {
  margin: 0;
  padding: .3em 0;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: rgba(18, 18, 18, 0.90); */
  background-color: #050505;
  color: white;
  padding: 2rem 0;
  font-family: 'Raleway', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  margin-top: .4rem;
  gap: 1rem;
}

.footer-social-i {
  color: white;
  display: flex;
  padding: .5rem;
  border-radius: 50%;
  transition: .6s ease;
}

.footer-social-i:hover {
  color: white;
  transform: scale(.8);
}

.copy {
  margin: 0 auto;
}